# First things first:

## Import all the libraries that will help to clean the database

In [1]:
!pip3 install regex

Requirement already satisfied: regex in /home/carolina/.local/lib/python3.7/site-packages (2020.2.20)

In [2]:
from functools import reduce
import numpy as np
import pandas as pd
import re

## Import the CSV file

In [3]:
df = pd.read_csv("/home/carolina/Desktop/IRONHACK/Project files/attacks.csv", encoding="latin-1")

In [4]:
df.head(15)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
5,2018.06.03.b,03-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,"Flat Rock, Ballina",Kite surfing,Chris,M,...,NaN,"Daily Telegraph, 6/4/2018",2018.06.03.b-FlatRock.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.03.b,2018.06.03.b,6298.0,NaN,NaN
6,2018.06.03.a,03-Jun-2018,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,...,Tiger shark,"Diario de Pernambuco, 6/4/2018",2018.06.03.a-daSilva.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.03.a,2018.06.03.a,6297.0,NaN,NaN
7,2018.05.27,27-May-2018,2018.0,Unprovoked,USA,Florida,"Lighhouse Point Park, Ponce Inlet, Volusia County",Fishing,male,M,...,"Lemon shark, 3'","K. McMurray, TrackingSharks.com",2018.05.27-Ponce.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.27,2018.05.27,6296.0,NaN,NaN
8,2018.05.26.b,26-May-2018,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,...,"Bull shark, 6'","K.McMurray, TrackingSharks.com",2018.05.26.b-High.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.26.b,2018.05.26.b,6295.0,NaN,NaN
9,2018.05.26.a,26-May-2018,2018.0,Unprovoked,USA,Florida,"Daytona Beach, Volusia County",Standing,male,M,...,NaN,"K. McMurray, Tracking Sharks.com",2018.05.26.a-DaytonaBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.26.a,2018.05.26.a,6294.0,NaN,NaN
10,2018.05.24,24-May-2018,2018.0,Provoked,AUSTRALIA,Queensland,Cairns Aquarium,Feeding sharks,male,M,...,Grey reef shark,"ABC.net.au ,05/24/2018",2018.05.24-CairnsAquarium.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.24,2018.05.24,6293.0,NaN,NaN
11,2018.05.21,21-May-2018,2018.0,Unprovoked,USA,South Carolina,"Isle of Palms, Charleston County",Boogie boarding,Trey de Boer,M,...,NaN,"C. Creswell, GSAF",2018.05.21-deBoer.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.21,2018.05.21,6292.0,NaN,NaN
12,2018.05.13.b,13-May-2018,2018.0,Unprovoked,USA,South Carolina,"Hilton Head Island, Beaufort County",Swimming,Jei Turrell,M,...,NaN,"C. Creswell, GSAF & K. McMurray TrackingSharks...",2018.05.13.b-Turrell.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.13.b,2018.05.13.b,6291.0,NaN,NaN
13,2018.05.13.a,13-May-2018,2018.0,Invalid,ENGLAND,Cornwall,Off Land's End,Fishing,Max Berryman,M,...,Invalid incident,"K. McMurray, TrackingSharks.com",2018.05.13.a-Berryman.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.13.a,2018.05.13.a,6290.0,NaN,NaN
14,2018.05.00,May 2018,2018.0,Provoked,AUSTRALIA,Westerm Australia,Dugong Bay,Feeding sharks,Melisa Brunning,F,...,"Tawny nurse shark, 2m","Perth Now, 6/30/2018",2018.05.00-Brunning.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.00,2018.05.00,6289.0,NaN,NaN

## Start to explore the data

In [5]:
# Rows x Columns

df.shape

(25723, 24)

In [6]:
# Columns name

df.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [7]:
# Columns that are hidden on the df above:

df[['Age', 'Injury', 'Fatal (Y/N)', 'Time']].head()

,Age,Injury,Fatal (Y/N),Time
0,57,"No injury to occupant, outrigger canoe and pad...",N,18h00
1,11,Minor injury to left thigh,N,14h00 -15h00
2,48,Injury to left lower leg from surfboard skeg,N,07h45
3,NaN,Minor injury to lower leg,N,NaN
4,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN

From this first investigation we can highlight some observations:
- The columns "Unnamed: 22" and "Unnamed: 23" seems to don't have any information. 
- The columns "Case Number 1." and "Case Number 2." looks like duplicated from the column Case Number.
- Some columns such as "pdf", "href formula", "href", "original order" might won't be usefull for the analysis.

In case these obervarions are correct we can erase these columns, but before deleting any data we need to make sure.

# First Clean action: Remove duplicates

Before start to manipulate the data, let's check if we have duplicated information.

In [8]:
df = df
df.drop_duplicates()


display(df.head())
print(df.shape)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

(25723, 24)

There aren't duplicates on the whole database, but these doesn't mean that we don't have duplicated columns. We will check these information later.

# Second Action: Clean null values

## Delete columns with null values

Check if the column "Unnamed: 22" and "Unnamed: 23" only have null values.

In [9]:
print(df['Unnamed: 22'].notnull().sum())

print(df[df["Unnamed: 22"].notnull()]["Unnamed: 22"])

1
1478    stopped here
Name: Unnamed: 22, dtype: object

In [10]:
df['Unnamed: 23'].notnull().sum()

print(df[df["Unnamed: 23"].notnull()]["Unnamed: 23"])

4415             Teramo
5840    change filename
Name: Unnamed: 23, dtype: object

As we can see both columns don't have valuable data, so we can delete them.

In [11]:
df = df.drop(columns=['Unnamed: 22', 'Unnamed: 23'])

df.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0

## Clean null rows

In order to clean the rows, first we need to transpose index and columns. 

Then we will check those "columns" that are fully empty. Their sum of isnull will be 22, because this is the old number of columns that now are index.

After identify these empty columns we will drop them from the dataFrame. 

When we get back to the clean dataFrame, where the index and columns are back to normal, we can see that acctually we have deleted the null rows.

In [12]:
null_row = df.T.isnull().sum().values
null_row_index_22 = df.T.isnull().sum()[df.T.isnull().sum() == 22].index
clean_df = df.drop([e for e in null_row_index_22])


display(clean_df.head())
print(clean_df.shape)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0

(8703, 22)

# Third action: Clean some columns

Let's check those columns that are not usefull for our analysis and delete them.

## Check duplicated columns

Compare the columns "Case Number", "Case Number.1" and "Case Number.2".

1º Do a analysis apart from the dataFrame.

2º Data wrangling - Change all the values of null to 0.

3º See if they are equal("true") or have diffent values("false".

4º With the result we saw that ""Case Number.1" only differ on 20 values with "Case Number.2", which we can sat that they are particully the same. Now, when compare to "Case Number" they are 2.000 difent between them.

5º Checking the different rows(those that have "false"). We can see that actually most of then are 0, the rest it is pretty much the same. This means we can delete the duplicate columns and mantain just the first one. 

6º Drop the columns on the dataFrame, not on the apart version we created for this analysis.

In [13]:
c_df = clean_df[['Case Number','Case Number.1', 'Case Number.2']]

c_df['Case Number'].fillna(0, inplace = True) 
c_df['Case Number.1'].fillna(0, inplace = True) 
c_df['Case Number.2'].fillna(0, inplace = True)

c_df['check'] = c_df['Case Number'] == c_df['Case Number.1']
c_df['check2'] = c_df['Case Number.1'] == c_df['Case Number.2']

#print(c_df["check"].value_counts())
#print(c_df["check2"].value_counts())

h = c_df[c_df['check'] == False][['Case Number','Case Number.1', 'Case Number.2']]
h.head()

/usr/lib/python3/dist-packages/pandas/core/generic.py:5436: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

      Case Number Case Number.1 Case Number.2
34     2018.04.03    2018.04.02    2018.04.03
117  2017.07.20.a  2017/07.20.a  2017.07.20.a
144    2017.05.06    2017.06.06    2017.05.06
217    2016.09.15    2016.09.16    2016.09.15
314  2016.01.24.b  2015.01.24.b  2016.01.24.b

In [14]:
clean_df = clean_df.drop(columns=['Case Number.1', 'Case Number.2'])

clean_df.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,original order
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,6303.0
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,6302.0
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,6301.0
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,6300.0
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,6299.0

## Delete columns we won't need for analysis

These are columns that are too descritive or that have information that won't be usefull to create any analysis, so we can delete in order to have the database cleaner.

In [15]:
clean_df = clean_df.drop(columns=['Location', 'Name','Injury', 'Investigator or Source', 'pdf', 'href formula', 'href', 'original order'])

clean_df.head()

,Case Number,Date,Year,Type,Country,Area,Activity,Sex,Age,Fatal (Y/N),Time,Species
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,Paddling,F,57,N,18h00,White shark
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,Standing,F,11,N,14h00 -15h00,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,Surfing,M,48,N,07h45,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Surfing,M,NaN,N,NaN,2 m shark
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,Free diving,M,NaN,N,NaN,"Tiger shark, 3m"

In [16]:
# Now we only have 12 columns and the dataframe already looks much cleaner

clean_df.shape

(8703, 12)

# Four action: Clean by string matching

Now we will change all the null values to " ", so in case we need to sum or to extract the values of a column we won't have any sintax problem.

## Type: Only Unprovoked, Provoked and Not available

In [17]:
clean_df.Type.value_counts()

Unprovoked      4595
Provoked         574
Invalid          547
Sea Disaster     239
Boating          203
Boat             137
Questionable       2
Boatomg            1
Name: Type, dtype: int64

In [18]:
clean_df["Type"] = clean_df.Type.fillna("Not Available")


clean_df.loc[clean_df["Type"].str.startswith("B"),"Type"] = "Unprovoked"
clean_df.loc[clean_df["Type"].str.startswith("S"),"Type"] = "Unprovoked"
clean_df.loc[clean_df["Type"].str.startswith("I"),"Type"] = "Not Available"
clean_df.loc[clean_df["Type"].str.startswith("Q"),"Type"] = "Not Available"

clean_df.Type.value_counts()

Unprovoked       5175
Not Available    2954
Provoked          574
Name: Type, dtype: int64

## Activity - This will be the main column for our analysis

In [19]:
clean_df.Activity.value_counts().head()

Surfing         971
Swimming        869
Fishing         431
Spearfishing    333
Bathing         162
Name: Activity, dtype: int64

Aggruping the activities on the key groups bellow, by changing the activity name:

In [20]:
clean_df["Activity"] = clean_df.Activity.fillna("Not Available")

#SURFING
clean_df.loc[clean_df["Activity"].str.contains("Surf"),"Activity"] = "Surfing"
clean_df.loc[clean_df["Activity"].str.contains("Board"),"Activity"] = "Surfing"
clean_df.loc[clean_df["Activity"].str.contains("surf"),"Activity"] = "Surfing"
clean_df.loc[clean_df["Activity"].str.contains("board"),"Activity"] = "Surfing"


#Swimming
clean_df.loc[clean_df["Activity"].str.contains("Bath"),"Activity"] = "Swimming"
clean_df.loc[clean_df["Activity"].str.startswith("Wad"),"Activity"] = "Swimming"
clean_df.loc[clean_df["Activity"].str.contains("Swi"),"Activity"] = "Swimming"
clean_df.loc[clean_df["Activity"].str.startswith("Floa"),"Activity"] = "Swimming"
clean_df.loc[clean_df["Activity"].str.contains("swi"),"Activity"] = "Swimming"
clean_df.loc[clean_df["Activity"].str.contains("Jump"),"Activity"] = "Swimming"
clean_df.loc[clean_df["Activity"].str.contains("Play"),"Activity"] = "Swimming"
clean_df.loc[clean_df["Activity"].str.contains("Sculling"),"Activity"] = "Swimming"


#Fishing
clean_df.loc[clean_df["Activity"].str.contains("Fish"),"Activity"] = "Fishing"
clean_df.loc[clean_df["Activity"].str.contains("fish"),"Activity"] = "Fishing"
clean_df.loc[clean_df["Activity"].str.startswith("Spear"),"Activity"] = "Fishing"
clean_df.loc[clean_df["Activity"].str.contains("Clammin"),"Activity"] = "Fishing"


#Diving
clean_df.loc[clean_df["Activity"].str.contains("Div"),"Activity"] = "Diving"
clean_df.loc[clean_df["Activity"].str.contains("div"),"Activity"] = "Diving"
clean_df.loc[clean_df["Activity"].str.contains("Snor"),"Activity"] = "Diving"


#Kayaking
clean_df.loc[clean_df["Activity"].str.contains("Canoe"),"Activity"] = "Kayaking"
clean_df.loc[clean_df["Activity"].str.contains("Row"),"Activity"] = "Kayaking"
clean_df.loc[clean_df["Activity"].str.contains("Kay"),"Activity"] = "Kayaking"

#Treading water
clean_df.loc[clean_df["Activity"].str.contains("Walk"),"Activity"] = "Treading water"
clean_df.loc[clean_df["Activity"].str.contains("Dang"),"Activity"] = "Treading water"
clean_df.loc[clean_df["Activity"].str.contains("Standing"),"Activity"] = "Treading water"

#Sailing
clean_df.loc[clean_df["Activity"].str.contains("Boat"),"Activity"] = "Sailing"
clean_df.loc[clean_df["Activity"].str.contains("Ship"),"Activity"] = "Sailing"

#Fell
clean_df.loc[clean_df["Activity"].str.contains("Sea"),"Activity"] = "Fell into the water"
clean_df.loc[clean_df["Activity"].str.contains("Fell"),"Activity"] = "Fell into the water"

#Interacting with sharks
clean_df.loc[clean_df["Activity"].str.contains("Shark"),"Activity"] = "Interacting with sharks"
clean_df.loc[clean_df["Activity"].str.contains("shark"),"Activity"] = "Interacting with sharks"

#Others
clean_df.loc[clean_df["Activity"].str.contains("Suicide"),"Activity"] = "Others"
clean_df.loc[clean_df["Activity"].str.contains("Murder"),"Activity"] = "Others"
clean_df.loc[clean_df["Activity"].str.contains("Paddleskiing"),"Activity"] = "Others"
clean_df.loc[clean_df["Activity"].str.contains("Lifesaving drill"),"Activity"] = "Others"
clean_df.loc[clean_df["Activity"].str.contains("Seine"),"Activity"] = "Others"
clean_df.loc[clean_df["Activity"].str.contains("SUP"),"Activity"] = "Others"
clean_df.loc[clean_df["Activity"].str.contains("Splashing"),"Activity"] = "Others"
clean_df.loc[clean_df["Activity"].str.contains("Escap"),"Activity"] = "Others"
clean_df.loc[clean_df["Activity"].str.startswith("."),"Activity"] = "Not Available"
clean_df.loc[clean_df["Activity"].str.contains("Escap"),"Activity"] = "Others"

All those activity that have less than 4 value_counts() can be deleted from our analysis.

In [21]:
counts_Activity = clean_df.groupby("Activity")["Activity"].transform(len)

mask = (counts_Activity > 5)

#clean_df[mask]

In [22]:
df_clean = clean_df[mask]

df_clean

,Case Number,Date,Year,Type,Country,Area,Activity,Sex,Age,Fatal (Y/N),Time,Species
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,Treading water,F,11,N,14h00 -15h00,NaN
2,2018.06.09,09-Jun-2018,2018.0,Not Available,USA,Hawaii,Surfing,M,48,N,07h45,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Surfing,M,NaN,N,NaN,2 m shark
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,Diving,M,NaN,N,NaN,"Tiger shark, 3m"
5,2018.06.03.b,03-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Surfing,M,NaN,N,NaN,NaN
6,2018.06.03.a,03-Jun-2018,2018.0,Unprovoked,BRAZIL,Pernambuco,Swimming,M,18,Y,Late afternoon,Tiger shark
7,2018.05.27,27-May-2018,2018.0,Unprovoked,USA,Florida,Fishing,M,52,N,NaN,"Lemon shark, 3'"
8,2018.05.26.b,26-May-2018,2018.0,Unprovoked,USA,Florida,Treading water,M,15,N,17h00,"Bull shark, 6'"
9,2018.05.26.a,26-May-2018,2018.0,Unprovoked,USA,Florida,Treading water,M,12,N,14h00,NaN
10,2018.05.24,24-May-2018,2018.0,Provoked,AUSTRALIA,Queensland,Interacting with sharks,M,32,N,Morning,Grey reef shark
11,2018.05.21,21-May-2018,2018.0,Unprovoked,USA,South Carolina,Surfing,M,10,N,NaN,NaN
12,2018.05.13.b,13-May-2018,2018.0,Unprovoked,USA,South Carolina,Swimming,M,10,N,15h00,NaN
13,2018.05.13.a,13-May-2018,2018.0,Not Available,ENGLAND,Cornwall,Fishing,M,21,N,08h15,Invalid incident
14,2018.05.00,May 2018,2018.0,Provoked,AUSTRALIA,Westerm Australia,Interacting with sharks,F,34,N,NaN,"Tawny nurse shark, 2m"
15,2018.05.12,12-May-2018,2018.0,Unprovoked,SOUTH AFRICA,Eastern Cape Province,Surfing,M,NaN,N,11h00,NaN
16,2018.05.09,09-May-2018,2018.0,Not Available,AUSTRALIA,New South Wales,Surfing,M,NaN,N,10h30,Shark involvement not confirmed
17,2018.04.30.R,Reported 30-Apr-2018,2018.0,Unprovoked,THAILAND,Hua Hin,Swimming,M,NaN,N,NaN,NaN
18,2018.04.28.b,28-Apr-2018,2018.0,Unprovoked,COSTA RICA,Cocos Island,Diving,M,30,N,10h40,Tiger shark
19,2018.04.28.a,28-Apr-2018,2018.0,Unprovoked,AUSTRALIA,Western Australia,Surfing,M,NaN,N,16h50,NaN
20,2018.04.25.b,25-Apr-2018,2018.0,Not Available,AUSTRALIA,New South Wales,Surfing,M,NaN,N,07h00,Questionable
21,2018.04.25.a,25-Apr-2018,2018.0,Unprovoked,AUSTRALIA,Western Australia,Surfing,M,60,N,09h30,3 m shark
22,2018.04.24,24-Apr-2018,2018.0,Unprovoked,AUSTRALIA,Western Australia,Surfing,M,NaN,N,Afternoon,"White shark, 3.5 m"
23,2018.04.23,23-Apr-2018,2018.0,Unprovoked,MALDIVES,Alifu Alifu Atoll,Fishing,M,32,N,21h50,Tiger shark
25,2018.04.19,19-Apr-2018,2018.0,Unprovoked,USA,Hawaii,Surfing,M,29,N,NaN,6' shark
26,2018.04.15.d,15-Apr-2018,2018.0,Unprovoked,THAILAND,Hua Hin,Swimming,M,54,N,NaN,Juvenile bull shark
27,2018.04.15.c,15-Apr-2018,2018.0,Unprovoked,BRAZIL,Pernambuco,Swimming,M,34,NaN,NaN,NaN
28,2018.04.15.b,15-Apr-2018,2018.0,Unprovoked,AUSTRALIA,Western Australia,Surfing,M,41,N,NaN,NaN
29,2018.04.15.a,15-Apr-2018,2018.0,Unprovoked,AUSTRALIA,Western Australia,Surfing,M,37,N,08h00,NaN
30,2018.04.14,14-Apr-2018,2018.0,Unprovoked,BAHAMAS,New Providence,Surfing,M,NaN,N,09h30,Tiger shark
31,2018.04.10.R,Reported 10-Apr-2018,2018.0,Not Available,BRAZIL,Alagoas,Fishing,M,56,N,NaN,Shark involvement not confirmed
...,...,...,...,...,...,...,...,...,...,...,...,...
8673,0,NaN,NaN,Not Available,NaN,NaN,Not Available,NaN,NaN,NaN,NaN,NaN
8674,0,NaN,NaN,Not Available,NaN,NaN,Not Available,NaN,NaN,NaN,NaN,NaN
8675,0,NaN,NaN,Not Available,NaN,NaN,Not Available,NaN,NaN,NaN,NaN,NaN
8676,0,NaN,NaN,Not Available,NaN,NaN,Not Available,NaN,NaN,NaN,NaN,NaN
8677,0,NaN,NaN,Not Available,NaN,NaN,Not Available,NaN,NaN,NaN,NaN,NaN
8678,0,NaN,NaN,Not Available,NaN,NaN,Not Available,NaN,NaN,NaN,NaN,NaN
8679,0,NaN,NaN,Not Available,NaN,NaN,Not Available,NaN,NaN,NaN,NaN,NaN
8680,0,NaN,NaN,Not Available,NaN,NaN,Not Available,NaN,NaN,NaN,NaN,NaN
8681,0,NaN,NaN,Not Available,NaN,NaN,Not Available,NaN,NaN,NaN,NaN,NaN
8682,0,NaN,NaN,Not Available,NaN,NaN,Not Available,NaN,NaN,NaN,NaN,NaN
8683,0,NaN,NaN,Not Available,NaN,NaN,Not Available,NaN,NaN,NaN,NaN,NaN
8684,0,NaN,NaN,Not Available,NaN,NaN,Not Available,NaN,NaN,NaN,NaN,NaN
8685,0,NaN,NaN,Not Available,NaN,NaN,Not Available,NaN,NaN,NaN,NaN,NaN
8686,0,NaN,NaN,Not Available,NaN,NaN,Not Available,NaN,NaN,NaN,NaN,NaN
8687,0,NaN,NaN,Not Available,NaN,NaN,Not Available,NaN,NaN,NaN,NaN,NaN
8688,0,NaN,NaN,Not Available,NaN,NaN,Not Available,NaN,NaN,NaN,NaN,NaN
8689,0,NaN,NaN,Not Available,NaN,NaN,Not Available,NaN,NaN,NaN,NaN,NaN
8690,0,NaN,NaN,Not Available,NaN,NaN,Not Available,NaN,NaN,NaN,NaN,NaN
8691,0,NaN,NaN,Not Available,NaN,NaN,Not Available,NaN,NaN,NaN,NaN,NaN
8692,0,NaN,NaN,Not Available,NaN,NaN,Not Available,NaN,NaN,NaN,NaN,NaN
8693,0,NaN,NaN,Not Available,NaN,NaN,Not Available,NaN,NaN,NaN,NaN,NaN
8694,0,NaN,NaN,Not Available,NaN,NaN,Not Available,NaN,NaN,NaN,NaN,NaN
8695,0,NaN,NaN,Not Available,NaN,NaN,Not Available,NaN,NaN,NaN,NaN,NaN
8696,0,NaN,NaN,Not Available,NaN,NaN,Not Available,NaN,NaN,NaN,NaN,NaN
8697,0,NaN,NaN,Not Available,NaN,NaN,Not Available,NaN,NaN,NaN,NaN,NaN
8698,0,NaN,NaN,Not Available,NaN,NaN,Not Available,NaN,NaN,NaN,NaN,NaN
8699,0,NaN,NaN,Not Available,NaN,NaN,Not Available,NaN,NaN,NaN,NaN,NaN
8700,0,NaN,NaN,Not Available,NaN,NaN,Not Available,NaN,NaN,NaN,NaN,NaN
8701,0,NaN,NaN,Not Available,NaN,NaN,Not Available,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,Not Available,NaN,NaN,Not Available,NaN,NaN,NaN,NaN,NaN

Activity clean! This is super important because this is one of the columns that we will built our analysin.

In [23]:
df_clean.Activity.value_counts()

Not Available              2948
Surfing                    1562
Swimming                   1526
Fishing                    1154
Diving                      606
Treading water              179
Interacting with sharks     121
Kayaking                     75
Sailing                      51
Fell into the water          45
Others                       40
Name: Activity, dtype: int64

## Sex

In [24]:
df_clean["Sex "].value_counts()

M      4809
F       606
N         2
M         2
lli       1
.         1
Name: Sex , dtype: int64

In [25]:
df_clean["Sex "] = df_clean["Sex "].fillna("Not defined")

df_clean.loc[df_clean["Sex "].str.startswith("N"),"Sex "] = "M"
df_clean.loc[df_clean["Sex "].str.startswith("M"),"Sex "] = "M"
df_clean.loc[df_clean["Sex "].str.startswith("."),"Sex "] = "Not defined"
df_clean.loc[df_clean["Sex "].str.startswith("O"),"Sex "] = "Not defined"
df_clean.loc[df_clean["Sex "].str.startswith("l"),"Sex "] = "Not defined"

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/usr/lib/python3/dist-packages/pandas/core/indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [26]:
#Sex is clean now:

df_clean["Sex "].value_counts()

M              7699
F               606
Not defined       2
Name: Sex , dtype: int64

## Fatal: Y/N

In [27]:
df_clean["Fatal (Y/N)"].value_counts()

N          4127
Y          1215
UNKNOWN      68
 N            6
y             1
N             1
2017          1
M             1
Name: Fatal (Y/N), dtype: int64

In [28]:
df_clean["Fatal (Y/N)"] = df_clean["Fatal (Y/N)"].fillna("Not Available")

df_clean.loc[df_clean["Fatal (Y/N)"].str.startswith("U"),"Fatal (Y/N)"] = "Not Available"
df_clean.loc[df_clean["Fatal (Y/N)"].str.startswith("N"),"Fatal (Y/N)"] = "N"
df_clean.loc[df_clean["Fatal (Y/N)"].str.startswith("y"),"Fatal (Y/N)"] = "Y"
df_clean.loc[df_clean["Fatal (Y/N)"].str.startswith("M"),"Fatal (Y/N)"] = "N"
df_clean.loc[df_clean["Fatal (Y/N)"].str.endswith("N"),"Fatal (Y/N)"] = "N"
df_clean.loc[df_clean["Fatal (Y/N)"].str.startswith("2"),"Fatal (Y/N)"] = "N"

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [29]:
df_clean["Fatal (Y/N)"].value_counts()

N    7091
Y    1216
Name: Fatal (Y/N), dtype: int64

## Age

In [30]:
df_clean["Age"] = df_clean["Age"].fillna("0")


df_clean["Age"]= df_clean["Age"].astype(str)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.